*.gcda
*.gcno
*.lo
*.o
*.pem
*_state[1|2]
.deps/
.dirstamp
.libs
files/tss/
files/tss/*.bak
files/tss/*.orig
files/tss/*.rej
files/tss/*.tab.c
files/tss/*~
files/tss/-r
files/tss/.*.sw[nop]
files/tss/.dirstamp
files/tss/AUTHORS
files/tss/Doxyfile
files/tss/GPATH
files/tss/GRTAGS
files/tss/GSYMS
files/tss/GTAGS
files/tss/ID
files/tss/Makefile
files/tss/Makefile-fuzz-generated.am
files/tss/Makefile.in
files/tss/TAGS
files/tss/aclocal.m4
files/tss/aminclude_static.am
files/tss/ar-lib
files/tss/autom4te.cache/*
files/tss/autoscan.log
files/tss/compile
files/tss/config.cache
files/tss/config.guess
files/tss/config.h
files/tss/config.h.in
files/tss/config.log
files/tss/config.lt
files/tss/config.rpath
files/tss/config.status
files/tss/config.status.lineno
files/tss/config.sub
files/tss/configure
files/tss/configure.lineno
files/tss/configure.scan
files/tss/depcomp
files/tss/doxygen-doc/doxygen_sqlite3.db
files/tss/doxygen-doc/html
files/tss/doxygen-doc/man
files/tss/doxygen-doc/man/ESYS_CONTEXT.3
files/tss/doxygen-doc/man/ESYS_TR.3
files/tss/doxygen-doc/man/ESYS_TR_defines.3
files/tss/doxygen-doc/man/Esys_ActivateCredential.3
files/tss/doxygen-doc/man/Esys_Certify.3
files/tss/doxygen-doc/man/Esys_CertifyCreation.3
files/tss/doxygen-doc/man/Esys_ChangeEPS.3
files/tss/doxygen-doc/man/Esys_ChangePPS.3
files/tss/doxygen-doc/man/Esys_Clear.3
files/tss/doxygen-doc/man/Esys_ClearControl.3
files/tss/doxygen-doc/man/Esys_ClockRateAdjust.3
files/tss/doxygen-doc/man/Esys_ClockSet.3
files/tss/doxygen-doc/man/Esys_Commit.3
files/tss/doxygen-doc/man/Esys_ContextLoad.3
files/tss/doxygen-doc/man/Esys_ContextSave.3
files/tss/doxygen-doc/man/Esys_Create.3
files/tss/doxygen-doc/man/Esys_CreatePrimary.3
files/tss/doxygen-doc/man/Esys_DictionaryAttackLockReset.3
files/tss/doxygen-doc/man/Esys_DictionaryAttackParameters.3
files/tss/doxygen-doc/man/Esys_Duplicate.3
files/tss/doxygen-doc/man/Esys_ECC_Parameters.3
files/tss/doxygen-doc/man/Esys_ECDH_KeyGen.3
files/tss/doxygen-doc/man/Esys_ECDH_ZGen.3
files/tss/doxygen-doc/man/Esys_EC_Ephemeral.3
files/tss/doxygen-doc/man/Esys_EncryptDecrypt.3
files/tss/doxygen-doc/man/Esys_EventSequenceComplete.3
files/tss/doxygen-doc/man/Esys_EvictControl.3
files/tss/doxygen-doc/man/Esys_FlushContext.3
files/tss/doxygen-doc/man/Esys_GetCapability.3
files/tss/doxygen-doc/man/Esys_GetCommandAuditDigest.3
files/tss/doxygen-doc/man/Esys_GetRandom.3
files/tss/doxygen-doc/man/Esys_GetSessionAuditDigest.3
files/tss/doxygen-doc/man/Esys_GetTestResult.3
files/tss/doxygen-doc/man/Esys_GetTime.3
files/tss/doxygen-doc/man/Esys_HMAC.3
files/tss/doxygen-doc/man/Esys_HMAC_Start.3
files/tss/doxygen-doc/man/Esys_Hash.3
files/tss/doxygen-doc/man/Esys_HashSequenceStart.3
files/tss/doxygen-doc/man/Esys_HierarchyChangeAuth.3
files/tss/doxygen-doc/man/Esys_HierarchyControl.3
files/tss/doxygen-doc/man/Esys_Import.3
files/tss/doxygen-doc/man/Esys_IncrementalSelfTest.3
files/tss/doxygen-doc/man/Esys_Load.3
files/tss/doxygen-doc/man/Esys_LoadExternal.3
files/tss/doxygen-doc/man/Esys_MakeCredential.3
files/tss/doxygen-doc/man/Esys_NV_Certify.3
files/tss/doxygen-doc/man/Esys_NV_ChangeAuth.3
files/tss/doxygen-doc/man/Esys_NV_DefineSpace.3
files/tss/doxygen-doc/man/Esys_NV_Extend.3
files/tss/doxygen-doc/man/Esys_NV_GlobalWriteLock.3
files/tss/doxygen-doc/man/Esys_NV_Increment.3
files/tss/doxygen-doc/man/Esys_NV_Read.3
files/tss/doxygen-doc/man/Esys_NV_ReadLock.3
files/tss/doxygen-doc/man/Esys_NV_ReadPublic.3
files/tss/doxygen-doc/man/Esys_NV_SetBits.3
files/tss/doxygen-doc/man/Esys_NV_UndefineSpace.3
files/tss/doxygen-doc/man/Esys_NV_UndefineSpaceSpecial.3
files/tss/doxygen-doc/man/Esys_NV_Write.3
files/tss/doxygen-doc/man/Esys_NV_WriteLock.3
files/tss/doxygen-doc/man/Esys_ObjectChangeAuth.3
files/tss/doxygen-doc/man/Esys_PCR_Allocate.3
files/tss/doxygen-doc/man/Esys_PCR_Event.3
files/tss/doxygen-doc/man/Esys_PCR_Extend.3
files/tss/doxygen-doc/man/Esys_PCR_Read.3
files/tss/doxygen-doc/man/Esys_PCR_Reset.3
files/tss/doxygen-doc/man/Esys_PCR_SetAuthPolicy.3
files/tss/doxygen-doc/man/Esys_PCR_SetAuthValue.3
files/tss/doxygen-doc/man/Esys_PP_Commands.3
files/tss/doxygen-doc/man/Esys_PolicyAuthValue.3
files/tss/doxygen-doc/man/Esys_PolicyAuthorize.3
files/tss/doxygen-doc/man/Esys_PolicyCommandCode.3
files/tss/doxygen-doc/man/Esys_PolicyCounterTimer.3
files/tss/doxygen-doc/man/Esys_PolicyCpHash.3
files/tss/doxygen-doc/man/Esys_PolicyDuplicationSelect.3
files/tss/doxygen-doc/man/Esys_PolicyGetDigest.3
files/tss/doxygen-doc/man/Esys_PolicyLocality.3
files/tss/doxygen-doc/man/Esys_PolicyNV.3
files/tss/doxygen-doc/man/Esys_PolicyNameHash.3
files/tss/doxygen-doc/man/Esys_PolicyNvWritten.3
files/tss/doxygen-doc/man/Esys_PolicyOR.3
files/tss/doxygen-doc/man/Esys_PolicyPCR.3
files/tss/doxygen-doc/man/Esys_PolicyPassword.3
files/tss/doxygen-doc/man/Esys_PolicyPhysicalPresence.3
files/tss/doxygen-doc/man/Esys_PolicyRestart.3
files/tss/doxygen-doc/man/Esys_PolicySecret.3
files/tss/doxygen-doc/man/Esys_PolicySigned.3
files/tss/doxygen-doc/man/Esys_PolicyTicket.3
files/tss/doxygen-doc/man/Esys_Quote.3
files/tss/doxygen-doc/man/Esys_RSA_Decrypt.3
files/tss/doxygen-doc/man/Esys_RSA_Encrypt.3
files/tss/doxygen-doc/man/Esys_ReadClock.3
files/tss/doxygen-doc/man/Esys_ReadPublic.3
files/tss/doxygen-doc/man/Esys_Rewrap.3
files/tss/doxygen-doc/man/Esys_SelfTest.3
files/tss/doxygen-doc/man/Esys_SequenceComplete.3
files/tss/doxygen-doc/man/Esys_SequenceUpdate.3
files/tss/doxygen-doc/man/Esys_SetAlgorithmSet.3
files/tss/doxygen-doc/man/Esys_SetCommandCodeAuditStatus.3
files/tss/doxygen-doc/man/Esys_SetPrimaryPolicy.3
files/tss/doxygen-doc/man/Esys_Shutdown.3
files/tss/doxygen-doc/man/Esys_Sign.3
files/tss/doxygen-doc/man/Esys_StartAuthSession.3
files/tss/doxygen-doc/man/Esys_Startup.3
files/tss/doxygen-doc/man/Esys_StirRandom.3
files/tss/doxygen-doc/man/Esys_TestParms.3
files/tss/doxygen-doc/man/Esys_Unseal.3
files/tss/doxygen-doc/man/Esys_Vendor_TCG_Test.3
files/tss/doxygen-doc/man/Esys_VerifySignature.3
files/tss/doxygen-doc/man/Esys_ZGen_2Phase.3
files/tss/doxygen-doc/man/FapiTestgroup.3
files/tss/doxygen-doc/man/Fapi_AuthorizePolicy.3
files/tss/doxygen-doc/man/Fapi_ChangeAuth.3
files/tss/doxygen-doc/man/Fapi_CreateKey.3
files/tss/doxygen-doc/man/Fapi_CreateNv.3
files/tss/doxygen-doc/man/Fapi_CreateSeal.3
files/tss/doxygen-doc/man/Fapi_Decrypt.3
files/tss/doxygen-doc/man/Fapi_Delete.3
files/tss/doxygen-doc/man/Fapi_Encrypt.3
files/tss/doxygen-doc/man/Fapi_ExportKey.3
files/tss/doxygen-doc/man/Fapi_ExportPolicy.3
files/tss/doxygen-doc/man/Fapi_Finalize.3
files/tss/doxygen-doc/man/Fapi_Free.3
files/tss/doxygen-doc/man/Fapi_GetAppData.3
files/tss/doxygen-doc/man/Fapi_GetCertificate.3
files/tss/doxygen-doc/man/Fapi_GetDescription.3
files/tss/doxygen-doc/man/Fapi_GetInfo.3
files/tss/doxygen-doc/man/Fapi_GetPlatformCertificates.3
files/tss/doxygen-doc/man/Fapi_GetPollHandles.3
files/tss/doxygen-doc/man/Fapi_GetRandom.3
files/tss/doxygen-doc/man/Fapi_GetTcti.3
files/tss/doxygen-doc/man/Fapi_GetTpmBlobs.3
files/tss/doxygen-doc/man/Fapi_Import.3
files/tss/doxygen-doc/man/Fapi_Initialize.3
files/tss/doxygen-doc/man/Fapi_List.3
files/tss/doxygen-doc/man/Fapi_NvExtend.3
files/tss/doxygen-doc/man/Fapi_NvIncrement.3
files/tss/doxygen-doc/man/Fapi_NvRead.3
files/tss/doxygen-doc/man/Fapi_NvSetBits.3
files/tss/doxygen-doc/man/Fapi_NvWrite.3
files/tss/doxygen-doc/man/Fapi_PcrExtend.3
files/tss/doxygen-doc/man/Fapi_PcrRead.3
files/tss/doxygen-doc/man/Fapi_Provision.3
files/tss/doxygen-doc/man/Fapi_Quote.3
files/tss/doxygen-doc/man/Fapi_SetAppData.3
files/tss/doxygen-doc/man/Fapi_SetAuthCB.3
files/tss/doxygen-doc/man/Fapi_SetBranchCB.3
files/tss/doxygen-doc/man/Fapi_SetCertificate.3
files/tss/doxygen-doc/man/Fapi_SetDescription.3
files/tss/doxygen-doc/man/Fapi_SetSignCB.3
files/tss/doxygen-doc/man/Fapi_Sign.3
files/tss/doxygen-doc/man/Fapi_Unseal.3
files/tss/doxygen-doc/man/Fapi_VerifyQuote.3
files/tss/doxygen-doc/man/Fapi_VerifySignature.3
files/tss/doxygen-doc/man/Fapi_WriteAuthorizeNv.3
files/tss/doxygen-doc/rtf
files/tss/doxygen-doc/tpm2-tss.tag
files/tss/fapi-config.json
files/tss/install-sh
files/tss/lib/tss2-esys.pc
files/tss/lib/tss2-fapi.pc
files/tss/lib/tss2-mu.pc
files/tss/lib/tss2-rc.pc
files/tss/lib/tss2-sys.pc
files/tss/lib/tss2-tcti-cmd.pc
files/tss/lib/tss2-tcti-device.pc
files/tss/lib/tss2-tcti-mssim.pc
files/tss/lib/tss2-tcti-pcap.pc
files/tss/lib/tss2-tcti-swtpm.pc
files/tss/lib/tss2-tctildr.pc
files/tss/libtool
files/tss/libutil.la
files/tss/ltmain.sh
files/tss/m4/ax_ac_append_to_file.m4
files/tss/m4/ax_ac_print_to_file.m4
files/tss/m4/ax_add_am_macro_static.m4
files/tss/m4/ax_add_fortify_source.m4
files/tss/m4/ax_am_macros_static.m4
files/tss/m4/ax_check_compile_flag.m4
files/tss/m4/ax_check_enable_debug.m4
files/tss/m4/ax_check_gnu_make.m4
files/tss/m4/ax_check_link_flag.m4
files/tss/m4/ax_check_preproc_flag.m4
files/tss/m4/ax_code_coverage.m4
files/tss/m4/ax_file_escapes.m4
files/tss/m4/ax_is_release.m4
files/tss/m4/ax_normalize_path.m4
files/tss/m4/ax_prog_doxygen.m4
files/tss/m4/ax_recursive_eval.m4
files/tss/m4/ax_valgrind_check.m4
files/tss/m4/libtool.m4
files/tss/m4/ltdl.m4
files/tss/m4/ltoptions.m4
files/tss/m4/ltsugar.m4
files/tss/m4/ltversion.m4
files/tss/m4/lt~obsolete.m4
files/tss/m4/pkg.m4
files/tss/man/man3/Tss2_TctiLdr_Finalize.3
files/tss/man/man3/Tss2_TctiLdr_FreeInfo.3
files/tss/man/man3/Tss2_TctiLdr_GetInfo.3
files/tss/man/man3/Tss2_TctiLdr_Initialize.3
files/tss/man/man3/Tss2_Tcti_Cmd_Init.3
files/tss/man/man3/Tss2_Tcti_Device_Init.3
files/tss/man/man3/Tss2_Tcti_Mssim_Init.3
files/tss/man/man5/fapi-config.5
files/tss/man/man5/fapi-profile.5
files/tss/man/man7/tss2-tcti-cmd.7
files/tss/man/man7/tss2-tcti-device.7
files/tss/man/man7/tss2-tcti-mssim.7
files/tss/man/man7/tss2-tcti-swtpm.7
files/tss/man/man7/tss2-tctildr.7
files/tss/missing
files/tss/mkinstalldirs
files/tss/so_locations
files/tss/src/tss2-esys/libtss2-esys.la
files/tss/src/tss2-fapi/libtss2-fapi.la
files/tss/src/tss2-mu/libtss2-mu.la
files/tss/src/tss2-rc/libtss2-rc.la
files/tss/src/tss2-sys/libtss2-sys.la
files/tss/src/tss2-tcti/libtss2-tcti-cmd.la
files/tss/src/tss2-tcti/libtss2-tcti-device.la
files/tss/src/tss2-tcti/libtss2-tcti-mssim.la
files/tss/src/tss2-tcti/libtss2-tcti-pcap.la
files/tss/src/tss2-tcti/libtss2-tcti-swtpm.la
files/tss/src/tss2-tcti/libtss2-tctildr.la
files/tss/src_vars.mk
files/tss/stamp-h1
files/tss/tags
files/tss/test-driver
files/tss/test-suite-drd.log
files/tss/test-suite-helgrind.log
files/tss/test-suite-memcheck.log
files/tss/test-suite-sgcheck.log
files/tss/test-suite.log
files/tss/test/integration/*.crl
files/tss/test/integration/*.crt
files/tss/test/integration/*.fint_*-ca.pem
files/tss/test/integration/*.fint_ek*
files/tss/test/integration/*.fint_state*
files/tss/test/integration/*.int_state*
files/tss/test/integration/*.log
files/tss/test/tpmclient/*.int_state*
files/tss/test/tpmclient/*.log
files/tss/test/unit/*.log
files/tss/tpm2-tss-3.1.0-dev.tar.gz
files/tss/tpm2-tss-fapi.conf
files/tss/ylwrap
_libs
